*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* 
UTILITIES 
*/

.box{
  margin: 0 auto;
  width: 70%;
  /* border: 3px solid red; */
}

.box-hero-section{
  margin: 0 auto;
  width: 45%;
  text-align: center;
  /* border: 3px solid red; */
  color: white;
}

section{
  padding: 150px 0px;
}

.grey-section{
  background-color: #F6F6F6;
  padding: 150px 0px;
}

hr{

  color: #7189DA;
}

.cta-footer, .cta-header{
  float: right;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* testi */
h1, h2{
  font-size: 50px;
  margin-bottom: 40px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 19px;
  margin-bottom: 40px;
}

/* bottoni */
.button{
  padding: 15px;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
}

.white-button{
  background-color: white;
  color: black;
}

.black-button{
  background-color: black;
  color: white;
  margin-left: 20px;
}

.blue-button{
  background-color: #8EA1E2;
  color: white;
  text-align: center;
}


.button:hover, .white-button:hover, .blue-button:hover{
  box-shadow: 0px 3px 5px 0.5px #5865F2;
  color: #5865F2;
}



/* 
HEADER
 */

header{
  background-color: #2A5EE8;
}

header nav ul{
  list-style-type: none;
}


/* logo */

nav{
  padding-top: 10px;
}

nav div.logo{
  float: left;
  width: 20%;
  text-align: left;
  vertical-align: middle;

  /* border: 3px solid yellow; */
}

/* menu */

nav ul{
  float: left;
  width: 60%;
  text-align: center;
  text-decoration: none;
  /* border: 3px solid red; */
  
}

nav ul li{ 
  display: inline;
}

nav ul li a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
}


/* call to action */
nav div.cta-header{
  float: right;
  width: 20%;
  
}


/* hero section */

.hero-section{
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-repeat: no-repeat;

  height: 550px;
}




/* 
MAIN
 */

/* illustrazioni e testi sezioni */
.illustration-sample-right{
  float: left;
  width: 50%;
}

.illustration-sample-left{
  float: right;
  width: 50%;
}

.text-sample-left{
  float: right;
  width: 32%;
}

.text-sample-right{
  float: left;
  width: 32%;
}



/* ultima sezione grigia */

.last-box{
  text-align: center;
}

.cta2{
  padding-top: 20px;
  margin-bottom: 30px;

  text-align: center;

  /* background-image: url('../img/stars.svg'); */
  background-size: 100%;
  background-repeat: no-repeat;

  /* border: 2px solid red; */
}


/*
FOOTER
*/

footer{
  background-color: #23272A;
  padding: 80px 0px;
}

footer h3, .category-link{
  color: #7189DA;
  font-weight: bold;
}


footer ul :not(.category-link){
  color: white;
  cursor: pointer;
}

footer ul li{
  padding-bottom: 10px;
}


footer span{
  display: inline-block;
  color: white;
  margin-top: 20px;
}

footer span img{
  vertical-align: middle;
}

.fa-brands{
  padding-right: 20px;
}

.footer-box{
  padding-bottom: 20px;
}


/* colonne */
.first-column{
  float: left;
  width: 40%;
  margin-right: 20px;
}

.other-column{
  float: left;
  width: 20%;
}

.other-column ul{
  list-style-type: none;
}


/* last section */
.last-section-padding{
  padding: 20px 0;
}

.logo-footer{
  float: left;
}



